*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.brand {
  font-size: 20px;


}

.navL {
  width: 100%;
  margin-left: 900px;


}

span {
  padding: 10px;
  font-size: 18px;
}

span:hover {
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid blue;
}
/* CV.css */

.col .contents {
  margin-left: 50px;
  padding: 0px 30px;
  border-left: 2px solid blue;
}
.col{
  margin-left: 350px;
}
.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  background-color: rgba(21, 23, 49, 0.678);
  width: 60%;
}

.col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: blue;
  border: 2px solid white;


}

.box h4 {
  position: relative;
  color: rgb(131, 131, 150);
}

.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #b6adad;
  margin-bottom: 8px;
}

.box p {
  line-height: 1.4;
color: white;
  font-size: 17px;
  margin-bottom: 0;
}

@media(max-width: 768px) {
  main.row {
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2) {
    margin-top: 30px;
  }
}


.home {
  display: flex;
  margin-left: 200px;
}
.hhm{
  margin-left: 100px;
  margin-top: 300px;
}
.str {
  font-size: 50px;
  position: relative;
  /* Add position relative for absolute positioning */
  /* animation: moveSTR 3s normal infinite; */
}

/* @keyframes moveSTR {
  0% {
    left: 0;
  }

  100% {
    left: calc(20% - 20px);
  }
} */

.iconG {
  margin-left: 10px;
  color: black;
  font-size: 20px;
  text-decoration: none;

}

.iconL {
  color: black;
  font-size: 20px;

}


.image  {
  margin-top: 55px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding-top: 80px;

}
.blob{
background-image: url(/public/images/WhatsApp\ Image\ 2024-01-09\ at\ 23.17.23.jpeg);
width: 380px;
height: 380px;
background-size: cover;
-webkit-background-position: center;
background-position: center center;
margin: 20px;
box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
animation: animate 5s ease-in-out infinite;
transition: all 1s ease-in-out;
}

@keyframes animate {
0%, 100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
}
}







.tech {
  margin-left: 210px;
  margin-top: 16px;

}

.iconIM {
  height: 50px;
  width: 60px;
  margin-left: 20px;
}

.tt {
  display: flex;
  margin-left: 100px;
}

.Abimg {
  height: 100%;
  width: 90%;
  border-radius: 5px;
}

.aboS {
  color: blue;
}

.abo {
  width: 90%;
  margin-right: 40px;
}

.par {
  font-size: 17px;
}

.about {
  display: flex;
  align-items: center;
  /* Align items vertically in the flex container */
  margin-top: 150px;
  margin-left: 200px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  /* Remove underline from anchor */
  display: inline-block;
  /* Ensure button behaves like a block element */
}

.button:hover {
  background-color: #0056b3;
}

.project {
  margin-top: 150px;
  margin-right: 50px;
}

.vd {
  width: 55%;
  margin-left: 280px;

}
.vd:hover{
  transform: scale(1.1);

}

.cont {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.port {
  margin-right: 300px;
}

.tit {
  margin-left: 250px;
}

.contact {
  margin-top: 200px;
}

.h2 {
  color: blue;
}

.contact {
  margin-left: 350px;
}

.cnt {
  margin-top: 50px;
  font-size: large;
  display: flex;
  gap: 50px;
}

.cc {
  font-size: 25px;
  color: blue;
}

.footer {
  margin-top: 100px;
 
  background-color: black;
  color: white;
  padding: 20px 0;
}


.footer-content {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  font-size: 24px;
  margin-right: 20px;
}

.p {
  margin-left: 160px;
}

.social-icons a {
  color: white;
  margin: 0 5px;
}